@page "{vehicleBrandId:int?}"
@using MotorPool.Domain
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MotorPool.UI.Pages.Admin.Vehicles.IndexModel

@{
    ViewData["Title"] = "Vehicles management";
}

<div class="header-with-icon mb-4">
    <h1 class="text-center">Vehicles</h1>
    <a asp-page="./Add">
        <i class="fa-solid fa-plus icon-plus"></i>
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles[0].VehicleBrand.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles[0].VehicleBrand.ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles[0].MotorVIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles[0].ManufactureYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles[0].ManufactureLand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles[0].Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles[0].Mileage)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (Vehicle item in Model.Vehicles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleBrand.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleBrand.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MotorVIN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufactureYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufactureLand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mileage)
                </td>
                <td class="text-nowrap">
                    @await Html.PartialAsync("_Actions", item.VehicleId)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="row w-100 py-3">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center">
        <a asp-page="/Admin/Index" class="text-decoration-none admin-back-link">
            <i class="fa-solid fa-arrow-left fa-2x me-2"></i>
            <span class="fw-bold" style="position: relative; bottom: 7px;">Back to admin panel</span>
        </a>
        @if (RouteData.Values["vehicleBrandId"] != null)
        {
            <a asp-page="../Brands/Index" class="text-decoration-none admin-back-link mt-4">
                <i class="fa-solid fa-arrow-left fa-2x me-2"></i>
                <span class="fw-bold" style="position: relative; bottom: 7px;">Back to vehicle brands</span>
            </a>
        }
    </div>
</div>