@page "{vehicleBrandId:int?}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using MotorPool.Auth
@using MotorPool.UI.Pages.Shared
@model IndexModel

@{
    ViewData["Title"] = "Vehicles management";
}

<div class="header-with-icon mb-4">
    <h1 class="text-center">Vehicles</h1>
    <a asp-page="./Create">
        <i class="fa-solid fa-plus icon-plus"></i>
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>
                VIN
            </th>
            <th>
                Manufacture year
            </th>
            <th>
                Manufacture land
            </th>
            <th>
                Current cost
            </th>
            <th>
                Mileage(km)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var vehicleViewModel in Model.Vehicles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => vehicleViewModel.MotorVIN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => vehicleViewModel.ManufactureYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => vehicleViewModel.ManufactureLand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => vehicleViewModel.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => vehicleViewModel.Mileage)
                </td>
                <td class="text-nowrap">
                    @await Html.PartialAsync("_Actions", new ActionsModel
                    {
                        Id = vehicleViewModel.VehicleId,
                        HasChangeAccess = User.IsManager()
                    })
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="row w-100 py-3">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center">
        <a asp-page="/Index" class="text-decoration-none admin-back-link">
            <i class="fa-solid fa-arrow-left fa-2x me-2"></i>
            <span class="fw-bold" style="position: relative; bottom: 7px;">Back to manager panel</span>
        </a>
        @if (RouteData.Values["vehicleBrandId"] != null)
        {
            <a asp-page="../Brands/Index" class="text-decoration-none admin-back-link mt-4">
                <i class="fa-solid fa-arrow-left fa-2x me-2"></i>
                <span class="fw-bold" style="position: relative; bottom: 7px;">Back to vehicle brands</span>
            </a>
        }
    </div>
</div>