@page
@model MotorPool.UI.Pages.Drivers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Drivers[0].FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drivers[0].LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drivers[0].Salary)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Drivers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td class="text-nowrap">
                @await Html.PartialAsync("_Actions", item.DriverId)
                <a asp-page="../Vehicles/Index" asp-route-vehicleBrandId="@item.DriverId" class="text-decoration-none">
                    <i class="fas fa-car" title="To vehicles"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>