@page
@model ListModel

@{
    ViewData["Title"] = "Vehicle brands management";
}

<div class="header-with-icon mb-4">
    <h1 class="text-center">Vehicle brands</h1>
    <a asp-page="./Add">
        <i class="fa-solid fa-plus icon-plus"></i>
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleBrand[0].CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleBrand[0].ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleBrand[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleBrand[0].FuelTankCapacityLiters)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleBrand[0].PayloadCapacityKg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleBrand[0].NumberOfSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleBrand[0].ReleaseYear)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.VehicleBrand)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FuelTankCapacityLiters)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayloadCapacityKg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfSeats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseYear)
                </td>
                <td class="text-nowrap">
                    @await Html.PartialAsync("_Actions", item.VehicleBrandId)
                    <a asp-page="../Vehicles/List" asp-route-vehicleBrandId="@item.VehicleBrandId" class="text-decoration-none">
                        <i class="fas fa-car" title="To vehicles"></i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>


<div class="row w-100 py-3">
    <div class="col-12 d-flex justify-content-center align-items-center">
        <a asp-page="/Admin/Index" class="text-decoration-none admin-back-link">
            <i class="fa-solid fa-arrow-left fa-2x me-2"></i>
            <span class="fw-bold" style="position: relative; bottom: 7px;">Back to admin panel</span>
        </a>
    </div>
</div>