@page
@model MotorPool.UI.Pages.Enterprises.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Enterprise</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enterprise.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enterprise.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enterprise.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enterprise.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enterprise.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enterprise.Street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enterprise.VAT)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enterprise.VAT)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enterprise.FoundedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enterprise.FoundedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Enterprise.EnterpriseId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
