@page
@model MotorPool.UI.Pages.Enterprises.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Enterprise[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enterprise[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enterprise[0].Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enterprise[0].VAT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enterprise[0].FoundedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Enterprise) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoundedOn)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EnterpriseId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EnterpriseId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EnterpriseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
